* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url("../img/bg.png");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Open Sans', Sans-serif, Arial, Helvetica;
}

a {
  text-decoration: none;
}

.contenedor {
  width: 90%;
  max-width: 700px;
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarjeta {
  background: #fff;
  margin: 40px 0;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
  width: 100%;
}

.slider_banner {
  overflow: hidden;
  z-index: 1000;
  position: relative;
}

.slider_banner .banner {
  position: relative;
  width: 100%;
}

.slider_banner .banner img {
  vertical-align: top;
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}

.slider_banner .flecha-banner {
  font-size: 35px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  z-index: 1100;
}

.slider_banner .flecha-banner:hover {
  color: rgba(0, 0, 0, 0.5);
}

.slider_banner .anterior {
  left: 20px;
}

.slider_banner .siguiente {
  right: 20px;
}

.slider_info {
  text-align: center;
  overflow: hidden;
  padding: 20px;
  z-index: 1000;
  position: relative;
}

.slider_info .informacion {
  width: 100%;
}

.slider_info .informacion .nombre {
  color: #444;
  font-size: 38px;
  line-height: 38px;
  font-weight: 600;
  margin-bottom: 16px;
}

.slider_info .informacion .trabajo {
  color: #55acee;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 16px;
}

.slider_info .informacion .pais {
  color: #8d8d8d;
  font-size: 14px;
  line-height: 14px;
}

.slider_info .informacion .pais img {
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.slider_info .informacion .subtitulo {
  color: #444;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
}

.slider_info .informacion .texto {
  color: #55acee;
  font-size: 18px;
  line-height: 24px;
}

.slider_info article {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider_info article .slide {
  background: #fff;
  width: 100%;
  left: 100%;
  position: absolute;
  padding: 20px 80px;
}

.slider_info .flecha-info {
  font-size: 35px;
  line-height: 35px;
  color: #e6e6e6;
  position: absolute;
  top: 50%;
  z-index: 1000;
}

.slider_info .flecha-info:hover {
  color: #6ed279;
}

.slider_info .anterior {
  left: 20px;
}

.slider_info .siguiente {
  right: 20px;
}

.slider_info .botones {
  width: 100%;
}

.slider_info .botones span {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 50%;
  background: #e6e6e6;
}

.slider_info .botones .active {
  background: #6ed279;
}

.redes-sociales {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.redes-sociales a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 20px;
  padding: 14px 0;
  color: #fff;
  background: #000;
  border-radius: 50%;
  margin: 0 10px;
}

.redes-sociales .behance {
  background: #1769ff;
}

.redes-sociales .facebook {
  background: #3b5998;
}

.redes-sociales .twitter {
  background: #55acee;
}
/*# sourceMappingURL=estilos.css.map */